<div class="grid h-screen w-screen m-0">
    <div class="hidden md:col-6 flex align-items-center justify-content-center bg-primary">
        <div class="w-full h-full bg-no-repeat bg-cover bg-center"
            style="background-image: url('/assets/images/job-hunt-bro.svg');">
        </div>
    </div>

    <div class="col-12 md:col-6 flex align-items-center justify-content-center p-6">
        <div class="card shadow-2 w-full md:w-10 lg:w-8 border-round p-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<flash-message-success></flash-message-success>
<flash-message-error></flash-message-error>
